SD_ENV=local

#S3
S3_DATA_BUCKET=datasd-proto-stage
CONN_S3_ACCESS_KEY=some_sort_of_value
CONN_S3_SECRET=some_sort_of_value

#FTP
FTP_SANNET_USER=some_sort_of_value
FTP_SANNET_PASS=some_sort_of_value
FTP_READ_USER=some_sort_of_value
FTP_READ_PASS=some_sort_of_value
FTP_DATASD_USER=some_sort_of_value
FTP_DATASD_PASS=some_sort_of_value

#SMB
MRM_SANNET_USER=some_sort_of_value
MRM_SANNET_PASS=some_sort_of_value

#WEBSERVICE
MRM_SF_USER=some_sort_of_value
MRM_SF_PASS=some_sort_of_value
MRM_SF_TOKEN=some_sort_of_value

#DB
CONN_ORACLEWPL=some_sort_of_value
CONN_ORACLETTCS=some_sort_of_value
AIRFLOW_CONN_SPECIAL_EVENTS_SQL=some_sort_of_value
AIRFLOW_CONN_STREETS_CG_SQL=some_sort_of_value

#OPS
MAILGUN_NOTIFY=True
MAILGUN_KEY=some_sort_of_value
MAILGUN_DOMAIN=some_sort_of_value
MAILGUN_FROM=poseidon-local@datasd.org
MAILGUN_TO=some_sort_of_value
KEEN_NOTIFY=True
KEEN_PROJECT_ID=some_sort_of_value
KEEN_WRITE_KEY=some_sort_of_value
KEEN_TI_COLLECTION=poseidon_stage_taskinstance_events

#SYSTEM
AIRFLOW_HOME=/usr/local/airflow
AIRFLOW__CORE__BASE_LOG_FOLDER=/usr/local/airflow/logs
AIRFLOW__CORE__REMOTE_BASE_LOG_FOLDER=s3://poseidon-logs/local
AIRFLOW__CORE__REMOTE_LOG_CONN_ID=s3log
AIRFLOW__EMAIL__EMAIL_BACKEND=poseidon.util.notifications.send_email
AIRFLOW__CORE__DAGS_ARE_PAUSED_AT_CREATION=True
